Repository ozum/devkeeper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --max-warnings 0, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write, jsonlint

chore(release): 0.1.75
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix format command
  package.json
  src/commands/format.ts
  src/devkeeper.ts
  test/commands/format.test.ts
  test/test-helper/target-module/src/format.css
Due: eslint --cache --fix --max-warnings 0, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

feat: add custom file(s) support for "lint" and "format" commands
  .eslintignore
  lint-staged.config.js
  package.json
  src/commands/execute.ts
  src/commands/format.ts
  src/commands/lint.ts
  src/devkeeper.ts
Due: eslint --cache --fix --max-warnings 0, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

fix: fix readme format
  README.md
  README.njk
  src/commands/release.ts
Due: eslint --cache --fix --max-warnings 0, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

fix: fix CI test step
  .github/workflows/main.yml
Due: none

build: add ts-node-dev to devDependencies
  package-lock.json
  package.json
Due: prettier --write

ci: upgrade "actions/setup-node" from v1 to v2-beta
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  7a781ddc949e6ab095a37669d13c7c3f14ac42bb
Due: none

fix: add parent configurations and update postinstall script
  module-files/dont-overwrite/eslintrc.js
  module-files/overwrite/.eslintignore
  package.json
  src/commands/postinstall.ts
  src/commands/update.ts
  src/event-handlers/update.ts
  test/commands/update.test.ts
Due: eslint --cache --fix --max-warnings 0, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

Notes added by 'git notes add'
  8442bdad89577fe6c1fc14b3a22da67404a2e9bc
Due: none

feat: add uninstall and rename update to keep
  .devkeeper.registry.json
  .github/workflows/main.yml
  module-files/package-json/package.json
  package-lock.json
  package.json
  src/commands/keep.ts
  src/commands/postinstall.ts
  src/commands/uninstall.ts
  src/commands/update.ts
  src/devkeeper.ts
  src/event-handlers/update.ts
  src/utils/helper.ts
  src/utils/package-json.ts
  src/utils/types.ts
  test/commands/update.test.ts
Due: eslint --cache --fix --max-warnings 0, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

fix: fix github workflow test step
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  b13d72dee0f927ba647cd0d7d1389b6abd67dfd1
Due: none

Path conditions:
  eslint --cache --fix --max-warnings 0: (any of: *.{jsx,tsx}) or (any of: *.{js,ts})
  jest --bail --coverage --findRelatedTests --config=jest.config.json: any of: *.{js,ts}
  prettier --write: any of: *.{json,md,gql,less,css}
  jsonlint: any of: .*{rc, json}
